STATUS: 201
---OUTPUT---
BEGIN;

-- Tabla: users
INSERT INTO users (id, email, name) VALUES (1, 'Minnie24@hotmail.com', 'Bespoke Bronze Bacon');
INSERT INTO users (id, email, name) VALUES (2, 'Judith.Williamson@gmail.com', 'Luxurious Cotton Sausages');
INSERT INTO users (id, email, name) VALUES (3, 'Alvin_Vandervort@gmail.com', 'Bespoke Aluminum Soap');

-- Tabla: orders
INSERT INTO orders (id, user_id, total) VALUES (1, 3, '827.69');
INSERT INTO orders (id, user_id, total) VALUES (2, 1, '948.39');
INSERT INTO orders (id, user_id, total) VALUES (3, NULL, '307.45');

-- Resincronizar secuencias
SELECT setval(pg_get_serial_sequence('users', 'id'), (SELECT MAX(id) FROM users));
SELECT setval(pg_get_serial_sequence('orders', 'id'), (SELECT MAX(id) FROM orders));

COMMIT;
